# Class 4 - Pandas Series II

## Recap Class 3

Let's enable multiple outputs.

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Let's get the dataset for todays class.

In [2]:
import pandas as pd
students = pd.read_csv("https://raw.githubusercontent.com/mschermann/msis2802winter2018classes/master/students.csv", index_col=0)

In [3]:
students

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
Jeannine    6.0   7.0    MSIS
Iluminada   2.0   NaN     MBA
Luci        7.0   7.0    MSIS
Jenny       8.0   NaN     NaN
Demetria    2.0   4.0    MSIS
Michael     6.0  10.0     MBA
Garland     9.0   1.0    MSIS
Shelby      1.0  10.0    MSIS
Mercy       5.0   6.0    MSIS
John        NaN  10.0    MSIS

In [4]:
hw1 = students['hw1']

In [5]:
type(hw1)

pandas.core.series.Series

In [6]:
hw1

Name
Dorian       10.0
Jeannine      6.0
Iluminada     2.0
Luci          7.0
Jenny         8.0
Demetria      2.0
Michael       6.0
Garland       9.0
Shelby        1.0
Mercy         5.0
John          NaN
Name: hw1, dtype: float64

In [7]:
hw1.index

Index(['Dorian', 'Jeannine', 'Iluminada', 'Luci', 'Jenny', 'Demetria',
       'Michael', 'Garland', 'Shelby', 'Mercy', 'John'],
      dtype='object', name='Name')

In [8]:
hw1.values

array([10.,  6.,  2.,  7.,  8.,  2.,  6.,  9.,  1.,  5., nan])

In [9]:
len(hw1)

11

In [10]:
hw1.describe()

count    10.000000
mean      5.600000
std       3.098387
min       1.000000
25%       2.750000
50%       6.000000
75%       7.750000
max      10.000000
Name: hw1, dtype: float64

In [11]:
hw1_mean = hw1.sum()/len(hw1)

In [12]:
hw1_mean

5.090909090909091

In [13]:
hw1_mean_second_try = hw1.mean()

In [14]:
hw1_mean_second_try

5.6

In [15]:
hw1

Name
Dorian       10.0
Jeannine      6.0
Iluminada     2.0
Luci          7.0
Jenny         8.0
Demetria      2.0
Michael       6.0
Garland       9.0
Shelby        1.0
Mercy         5.0
John          NaN
Name: hw1, dtype: float64

In [16]:
hw1.iloc[3]

7.0

In [17]:
hw1.loc['Luci']

7.0

In [18]:
hw1['Iluminada':'Demetria']

Name
Iluminada    2.0
Luci         7.0
Jenny        8.0
Demetria     2.0
Name: hw1, dtype: float64

In [19]:
hw1['Demetria'] = 8

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
hw1

Name
Dorian       10.0
Jeannine      6.0
Iluminada     2.0
Luci          7.0
Jenny         8.0
Demetria      8.0
Michael       6.0
Garland       9.0
Shelby        1.0
Mercy         5.0
John          NaN
Name: hw1, dtype: float64

In [21]:
students

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
Jeannine    6.0   7.0    MSIS
Iluminada   2.0   NaN     MBA
Luci        7.0   7.0    MSIS
Jenny       8.0   NaN     NaN
Demetria    8.0   4.0    MSIS
Michael     6.0  10.0     MBA
Garland     9.0   1.0    MSIS
Shelby      1.0  10.0    MSIS
Mercy       5.0   6.0    MSIS
John        NaN  10.0    MSIS

In [22]:
hw2 = students['hw2'].copy()

In [23]:
hw2['Shelby'] = 9

In [24]:
students

            hw1   hw2 program
Name
Dorian     10.0  10.0    MSIS
Jeannine    6.0   7.0    MSIS
Iluminada   2.0   NaN     MBA
Luci        7.0   7.0    MSIS
Jenny       8.0   NaN     NaN
Demetria    8.0   4.0    MSIS
Michael     6.0  10.0     MBA
Garland     9.0   1.0    MSIS
Shelby      1.0  10.0    MSIS
Mercy       5.0   6.0    MSIS
John        NaN  10.0    MSIS

In [25]:
#mask = [True, False, True, False,True, False,True, False,True, False,True]
#hw2[mask]
hw2 >= 6

Name
Dorian        True
Jeannine      True
Iluminada    False
Luci          True
Jenny        False
Demetria     False
Michael       True
Garland      False
Shelby        True
Mercy         True
John          True
Name: hw2, dtype: bool

In [26]:
hw2[hw2 >= 6]

Name
Dorian      10.0
Jeannine     7.0
Luci         7.0
Michael     10.0
Shelby       9.0
Mercy        6.0
John        10.0
Name: hw2, dtype: float64

## Start of class 4